.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-color-background);
}
.about-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: space-between;
  flex-direction: column;
}
.about-image {
  width: 200px;
  object-fit: cover;
}
.about-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.about-links {
  flex: 1;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
}
.about-text {
  font-size: 2em;
  font-family: League Spartan;
}
.about-text1 {
  font-size: 2em;
  font-family: League Spartan;
  margin-left: var(--dl-space-space-twounits);
}
.about-text2 {
  font-size: 2em;
  font-family: League Spartan;
  margin-left: var(--dl-space-space-twounits);
}
.about-text3 {
  font-size: 2em;
  font-family: League Spartan;
  margin-left: var(--dl-space-space-twounits);
}
.about-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.about-burger-menu {
  display: none;
}
.about-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-logo {
  height: 2rem;
}
.about-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text8 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.about-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-yellow {
  flex: 0 0 auto;
  width: 40%;
  height: 100px;
  display: flex;
  position: relative;
  align-self: flex-start;
  object-fit: contain;
  align-items: flex-start;
}
.about-image1 {
  top: -232px;
  left: -154px;
  position: absolute;
  align-self: stretch;
  object-fit: contain;
}
.about-pink {
  flex: 0 0 auto;
  right: 0px;
  width: 40%;
  bottom: 0px;
  height: 100px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}
.about-image2 {
  top: -269px;
  right: -180px;
  width: 638px;
  height: 638px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .about-navbar-interactive {
    align-self: center;
    background-color: var(--dl-color-primary-color-pri);
  }
  .about-text {
    font-size: 1em;
  }
  .about-text1 {
    font-size: 1em;
  }
  .about-text2 {
    font-size: 1em;
  }
  .about-text3 {
    font-size: 1em;
  }
  .about-login {
    color: #ffffff;
    border-style: hidden;
    margin-right: var(--dl-space-space-halfunit);
    border-radius: 2em;
    background-color: var(--dl-color-primary-color-sec-3);
  }
  .about-register {
    color: #ffffff;
    border-style: hidden;
    margin-right: var(--dl-space-space-halfunit);
    border-radius: 2em;
    background-color: var(--dl-color-primary-color-sec-3);
  }
}
@media(max-width: 767px) {
  .about-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-desktop-menu {
    display: none;
  }
  .about-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-text4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .about-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-mobile-menu {
    padding: 16px;
  }
}
